body {
  min-height: 2000px;
  padding-top: 2.5em;
}

body > .container > h1 a {
    color: inherit;
}
body > .container > h1 a:hover {
    color: inherit;
}

h1 .urban {
    font-family: marsneveneksk;
    color: hotpink;
    font-size: 0.8em;
    font-size: 12vw;
    margin-left: 0.125em;
}
h1 .urban::before {
    content: "( ";
}
h1 .urban::after {
    content: " )";
}

@media (min-width: 576px) {
    body {
        padding-top: 3em;
    }

    h1 .urban {
        font-size: 1.25em;
        margin-left: 0.125em;
    }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@font-face {
    font-family: marsneveneksk;
    src: url(../fonts/marsneveneksk.otf);
}

a:hover {
    text-decoration: none;
}

.article {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid lightgrey;
    padding: 0 1em;
}

.article .image {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}
.article .image img {
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
}
.article .image.loaded img {
    opacity: 1;
}

.article a.title {
    color: hotpink;
}
.article a.title:hover {
    color: deeppink;
}

.load-more h3 {
    text-align: center;
    padding: 0.5em 2em;
}

.article img.favicon {
    width: 16px;
    height: 16px;
}

ul.share-buttons, ul.follow-buttons {
    list-style: none;
    padding: 0;
}
ul.share-buttons li, ul.follow-buttons li {
    display: inline;
}
ul.share-buttons li a, ul.follow-buttons li a {
    color: lightgrey;
}

ul.share-buttons li a.share-facebook:hover {
    color: #3b5998;
}
ul.share-buttons li a.share-twitter:hover {
    color: #00aced;
}
ul.share-buttons li a.share-googleplus:hover {
    color: #d34836;
}
ul.share-buttons li a.share-pinterest:hover {
    color: #cb2027;
}
ul.share-buttons li a.share-linkedin:hover {
    color: #007bb6;
}
ul.share-buttons li a.share-tumblr:hover {
    color: #32506d;
}
ul.share-buttons li a.share-reddit:hover {
    color: #cee3f8;
}
ul.share-buttons li a.share-email:hover {
    color: rgb(255, 188, 0);
}

ul.follow-buttons li a.follow-feed:hover {
    color: #FA9B39;
}
