/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}
/* Make the masthead heading the same height as the navigation */
body > .container > h1 {
  font-family: marsneveneksk;
  padding-left: 5px;
  margin-top: 1em;
  font-size: 2em;
  font-size: 12vw;
}
body > .container > h1 a {
    color: crimson;
}
body > .container > h1 a:hover {
    color: crimson;
    text-decoration: none;
}
.header .nav {
    font-size: 0.8em;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 576px) {
    body > .container > h1 {
        margin-top: 0.5em;
        font-size: 4em;
    }
    .header .nav {
        font-size: inherit;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

@font-face {
    font-family: marsneveneksk;
    src: url(../fonts/marsneveneksk.otf);
}

.article {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid lightgrey;
    padding: 0 1em;
}

.article .image {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}
.article .image img {
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
}
.article .image.loaded img {
    opacity: 1;
}

.article a.title {
    color: hotpink;
}
.article a.title:hover {
    color: deeppink;
    text-decoration: none;
}

.article a {
}
.article a:hover {
    text-decoration: none;
}

.load-more a {
}
.load-more a:hover {
    text-decoration: none;
}
.load-more h3 {
    text-align: center;
    padding: 0.5em 2em;
}

.article img.favicon {
    width: 16px;
    height: 16px;
}
.article .vbar {
    color: lightgrey;
}

ul.share-buttons, ul.follow-buttons {
    list-style: none;
    padding: 0;
}
ul.follow-buttons {
    float: right;
}
ul.share-buttons li, ul.follow-buttons li {
    display: inline;
}
ul.share-buttons li a, ul.follow-buttons li a {
    color: lightgrey;
}

ul.share-buttons li a.share-facebook:hover {
    color: #3b5998;
}
ul.share-buttons li a.share-twitter:hover {
    color: #00aced;
}
ul.share-buttons li a.share-googleplus:hover {
    color: #d34836;
}
ul.share-buttons li a.share-pinterest:hover {
    color: #cb2027;
}
ul.share-buttons li a.share-linkedin:hover {
    color: #007bb6;
}
ul.share-buttons li a.share-tumblr:hover {
    color: #32506d;
}
ul.share-buttons li a.share-reddit:hover {
    color: #cee3f8;
}
ul.share-buttons li a.share-email:hover {
    color: rgb(255, 188, 0);
}

ul.follow-buttons li a.follow-feed:hover {
    color: #FA9B39;
}
