@(implicit request: Request[AnyContent])

@template("About") {
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>About</h2>

            <p>This is simply the tech news site I always wished I had, collecting prominent tech news sites and
            coding blogs in one gory place. Enjoy at your own peril.</p>

            <p>It uses a frecency algorithm to ensure that spammy feeds don't overwhelm the stream too much, keeping more rare content in the loop as well.</p>

            <h2>Contact</h2>

            <p>Contact me at <a href="mailto:daniel@@d2ab.org">daniel@@d2ab.org</a> or ping me on Twitter <a href="http://twitter.com/d2aborg">@@d2aborg</a>
                for comments, feedback, suggestions etc, or if you wish to have your blog removed from this aggregator.</p>

            <h2>Credits</h2>

            <ul>
                <li><a href="http://www.dafont.com/marsneveneksk.font">Graffiti Font</a> "MARSNEVENEKSK" by <a href="http://twitter.com/marsnev">marsnev</a>.</li>
                <li><a href="https://thenounproject.com/term/graffiti/13217/">Graffiti Icon</a> by Jasmine Jones from the <a href="https://thenounproject.com/">Noun Project</a>, used under <a href="http://creativecommons.org/licenses/by/3.0/us/">CC BY 3.0 US</a> license.</li>
            </ul>

            <h2>Developed with</h2>

            <ul>
                <li><a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a> by <a href="https://www.jetbrains.com/">JetBrains</a>.</li>
                <li><a href="http://www.scala-lang.org/">The Scala Programming Language</a>.</li>
                <li><a href="https://www.playframework.com/">Play Framework</a> by <a href="https://www.lightbend.com/">Lightbend</a>.</li>
                <li><a href="https://www.heroku.com/">Heroku</a> Cloud Deployment.</li>
                <li><a href="https://github.com/optimaize/language-detector">Optimaize Language Detector</a>.</li>
                <li><a href="http://jquery.com/">JQuery</a> JS library.</li>
                <li><a href="https://getbootstrap.com/">Bootstrap</a> HTML, CSS and JS framework.</li>
                <li><a href="http://masonry.desandro.com/">Masonry</a> JS layout library <a href="https://github.com/desandro">David DeSandro</a>.</li>
                <li><a href="http://imagesloaded.desandro.com/">ImagesLoaded</a> JS library by <a href="https://github.com/desandro">David DeSandro</a>.</li>
                <li><a href="http://fontawesome.io/">Font Awesome</a> icon library by <a href="http://twitter.com/davegandy">Dave Gandy</a>.</li>
                <li><a href="http://momentjs.com/">Moment.js</a> JS date library.</li>
            </ul>
        </div>
    </div>
} {
}
