@import java.time.OffsetDateTime
@import model.Article
@import play.api.Configuration

@(section: String, articles: Seq[Article], timestamp: OffsetDateTime, nextPage: Option[Int])(implicit feedSections: Configuration, now: OffsetDateTime, request: Request[AnyContent])

@template(section, feedSections.getString(section).get) {
    <h1><a href="?timestamp=@timestamp">@feedSections.getString(section).get</a></h1>

    @page(articles, timestamp, nextPage)
} {
    <script type="text/javascript">
        function loadMore() {
            var loadMore = $('.load-more')

            var nextPageUrl = loadMore.find("a").attr("href")
            if (!nextPageUrl)
                return

            loadMore.find("h3").html("<i class='fa fa-refresh fa-spin fa-2x fa-fw'></i><span class='sr-only'>Loading...</span>")
            @if(play.Play.isDev()) {
                console.log("Loading: " + nextPageUrl)
            }

            var grid = $('.grid')

            $.ajax({ url: nextPageUrl + "&ajax=true" }).done(function(data) {
                var newContent = $("<div>").append(data)

                var newItems = newContent.find("> .grid > .grid-item")
                grid.append(newItems).masonry('appended', newItems)
                grid.imagesLoaded().progress( function() {
                  grid.masonry('layout');
                });

                loadMore.replaceWith(newContent.find("> .load-more"))
            });
        }

        $(document).ready(function() {
            var win = $(window);

            // Each time the user scrolls
            win.scroll(function() {
                // End of the document reached?
                if ($(document).height() - win.height() < win.scrollTop() + 1000) {
                    loadMore();
                }
            });
        });

        $(document).ready(function() {
            setInterval(function() {
                @if(play.Play.isDev()) {
                    console.log("Refreshing dates...")
                }
                $(".content .article .since").each(function(index) {
                    $(this).html(moment(new Date(Date.parse($(this).attr("date")))).fromNow())
                });
            }, 60000)
        });

        // layout Masonry after each image loads
        var $grid = $('.grid');
        $grid.imagesLoaded().progress( function() {
          $grid.masonry('layout');
        });
    </script>
}
