@import java.time.ZonedDateTime

@import model.ArticlesResult
@import play.api.{Configuration, Environment, Mode}
@(section: String, result: ArticlesResult)(implicit feedSections: Configuration, now: ZonedDateTime, request: Request[AnyContent], env: Environment)

@defining(s"${feedSections.getString(section).get}${
    result.requested.fold("") { requested =>
        s" · ${requested.viewTimestamp}${
            if(requested.pageNum > 1) s" · Page ${requested.pageNum}" else ""
        }"
    }
}") { title =>
    @template(section, title) {
        <p class="text-muted">
            <small>
                @feedSections.getString(section).get
                <span class="text-muted">·</span>

                @result.requested.fold {
                    @result.permalink.map { permalink =>
                        <span class="text-nowrap">
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            <a href="@routes.ArticlesController.index(section, permalink.urlTimestamp, permalink.pageNum, None)">Permalink</a>
                        </span>

                        <span class="text-muted">·</span>
                    }

                    <span class="text-nowrap">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        <a href='@routes.ArticlesController.index(section, "", 1, None)'>Reload</a>
                    </span>
                } { requested =>
                    <span class="text-nowrap">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        <a href='@routes.ArticlesController.index(section, requested.urlTimestamp, 1, None)'>
                            <span class="permalink-timestamp" datetime="@requested.timestamp">@requested.viewTimestamp</span>
                        </a>
                    </span>

                    <span class="text-muted">·</span>

                    <span class="text-nowrap">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        <a href='@routes.ArticlesController.index(section, "", 1, None)'>Back to Latest</a>
                    </span>

                    <span class="text-muted">·</span>

                    <span class="text-nowrap">
                        @defining(Html("&laquo;")) { linkText =>
                            @requested.prevPage.fold(linkText) { prevPage =>
                                <a href='@routes.ArticlesController.index(section, requested.urlTimestamp, prevPage, None)'>@linkText</a>
                            }
                        }
                        Page <span class="permalink-page">@requested.pageNum</span>
                        @defining(Html("&raquo;")) { linkText =>
                            @result.nextPage.fold(linkText) { nextPage =>
                                <a href='@routes.ArticlesController.index(section, requested.urlTimestamp, nextPage, None)'>@linkText</a>
                            }
                        }
                    </span>
                }
            </small>
        </p>

        @articlePage(section, result)
    } {
        <script type="text/javascript">
            function loadMore() {
                var $loadMore = $('.load-more');

                var nextPageUrl = $loadMore.find("a").attr("href");
                if (!nextPageUrl)
                    return;

                $loadMore.find("h3").html("<i class='fa fa-refresh fa-spin fa-2x fa-fw'></i><span class='sr-only'>Loading...</span>");
                @if(env.mode == Mode.Dev) {
                    console.log("Loading: " + nextPageUrl);
                }

                var $grid = $('.grid');

                $.ajax({ url: nextPageUrl + (nextPageUrl.indexOf('?') == -1 ? '?' : '&') + "ajax=true" }).done(function(data) {
                    var $newContent = $("<div />").append(data);

                    var $newGridItems = $newContent.children(".grid").children(".grid-item");
                    $grid.append($newGridItems).masonry('appended', $newGridItems);

                    $newGridItems.each(function () {
                        $(this).imagesLoaded().progress( function() {
                            $grid.masonry('layout');
                        });
                    });

                    $loadMore.replaceWith($newContent.children(".load-more"))
                });
            }

            function shouldBeHidden(viewPort, $element) {
                var top = $element.offset().top;
                var bottom = top + $element.outerHeight(true);
                return bottom < viewPort.top - 1000 || top > viewPort.bottom + 1000;
            }

            function shouldBeVisible(viewPort, $element) {
                return !shouldBeHidden(viewPort, $element);
            }

            function articles() {
                return $(".content .article");
            }

            $(document).ready(function() {
                $(".content .permalink-timestamp").each(function() {
                    var dts = $(this).attr("datetime");
                    var mom = moment(new Date(Date.parse(dts)));
                    mom.utcOffset(moment().utcOffset());
                    $(this).html(mom.format("ddd, D MMM YYYY, HH:mm:ss"));
                });

                // Each time the user scrolls
                $(window).scroll(function(event) {
                    var $win = $(window);
                    var viewPort = {
                        top: $win.scrollTop(),
                        bottom: $win.scrollTop() + $win.height()
                    };

                    // Load more content if end of page is reached soon
                    if ($(document).height() - viewPort.bottom < 1000) {
                        loadMore();
                    }

                    // Hide articles far away from viewport and show hidden articles that are now close to viewport
                    var $articles = articles();
                    var $articlesToShow = $articles.filter(".invisible").filter(function() {
                        return shouldBeVisible(viewPort, $(this));
                    });
                    var $articlesToHide = $articles.not(".invisible").filter(function() {
                        return shouldBeHidden(viewPort, $(this));
                    });

                    if ($articlesToShow.length > 0 || $articlesToHide.length > 0) {
                        $articlesToShow.each(function() {
                            var $this = $(this);

                            var $original = $this.prop("hiddenElement");
                            @if(env.mode == Mode.Dev) {
                                console.log("Showing: " + $original.children("h4").text());
                            }

                            $this.replaceWith($original);
                        });

                        $articlesToHide.each(function() {
                            var $this = $(this);

                            @if(env.mode == Mode.Dev) {
                                console.log("Hiding: " + $this.children("h4").text());
                            }

                            $this.replaceWith($("<article class='article invisible'/>")
                                    .height($this.height())
                                    .prop("hiddenElement", $this));
                        });

                        $('.grid').masonry('layout');
                    }
                });

                setInterval(function() {
                    @if(env.mode == Mode.Dev) {
                        console.log("Refreshing dates...");
                    }

                    articles().filter(".since-timestamp").each(function() {
                        var dts = $(this).attr("datetime");
                        var mom = moment(new Date(Date.parse(dts)));
                        $(this).html(mom.fromNow());
                    });
                }, 60000); // every minute

                setInterval(function() {
                    @if(env.mode == Mode.Dev) {
                        console.log("Checking for new stories...");
                    }
                }, 60000); // every minute

                // layout Masonry after each image loads
                var $grid = $('.grid');
                $grid.children(".grid-item").each(function() {
                    $(this).imagesLoaded().progress(function () {
                        $grid.masonry('layout');
                    });
                });
            });
        </script>
    }
}
