@import java.time.OffsetDateTime
@import model.Article
@import model.Permalink
@import play.api.Configuration

@(section: String, articles: Iterable[Article], permalink: Permalink)(implicit feedSections: Configuration, now: OffsetDateTime, request: Request[AnyContent])

@defining(permalink.requested.fold("Latest ")(_ => "") +
          feedSections.getString(section).get +
          permalink.requested.fold("")(_ => " as of " + permalink.viewTimestamp + Some(permalink.page).filter(_ > 1).fold("")(p => " · Page " + p))) { title =>
    @template(section, title) {
        <h1><span class="urban">@feedSections.getString(section).get</span></h1>

        <p class="text-muted">
            <small>
                @permalink.requested.fold {
                    Latest @feedSections.getString(section).get

                    <span class="text-muted">·</span>
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    <a href='@routes.HomeController.articles(section, "", 1, None)'>Reload</a>

                    <span class="text-muted">·</span>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    <a href="@routes.HomeController.articles(section, permalink.urlTimestamp, permalink.page, None)">Permalink &raquo;</a>
                } { _ =>
                    <span class="permalink-timestamp" date="@permalink.timestamp">@permalink.viewTimestamp</span>

                    <span class="text-muted">·</span>
                    <a href='@routes.HomeController.articles(section, "", 1, None)'>Back to Latest &laquo;</a>

                    <span class="text-muted">·</span>
                    @permalink.prevPage.fold {
                        &laquo;
                    } { prevPage =>
                        <a href='@routes.HomeController.articles(section, permalink.urlTimestamp, prevPage, None)'>&laquo;</a>
                    }

                    Page <span class="permalink-page">@permalink.page</span>

                    @permalink.nextPage.fold {
                        &raquo;
                    } { nextPage =>
                        <a href='@routes.HomeController.articles(section, permalink.urlTimestamp, nextPage, None)'>&raquo;</a>
                    }

                    <span class="text-muted">·</span>
                    @permalink.prevPage.fold {
                        First Page &laquo;
                    } { _ =>
                        <a href='@routes.HomeController.articles(section, permalink.urlTimestamp, 1, None)'>First Page &laquo;</a>
                    }
                }
            </small>
        </p>

        @articlePage(section, articles, permalink)
    } {
        <script type="text/javascript">
            function loadMore() {
                var loadMore = $('.load-more')

                var nextPageUrl = loadMore.find("a").attr("href")
                if (!nextPageUrl)
                    return

                loadMore.find("h3").html("<i class='fa fa-refresh fa-spin fa-2x fa-fw'></i><span class='sr-only'>Loading...</span>")
                @if(play.Play.isDev()) {
                    console.log("Loading: " + nextPageUrl)
                }

                var grid = $('.grid')

                $.ajax({ url: nextPageUrl + ((nextPageUrl.indexOf('?') == -1) ? '?' : '&') + "ajax=true" }).done(function(data) {
                    var newContent = $("<div>").append(data)

                    var newItems = newContent.find("> .grid > .grid-item")
                    grid.append(newItems).masonry('appended', newItems)
                    grid.imagesLoaded().progress( function() {
                      grid.masonry('layout');
                    });

                    loadMore.replaceWith(newContent.find("> .load-more"))
                });
            }

            $(document).ready(function() {
                var win = $(window);
                var doc = $(document);

                // Each time the user scrolls
                win.scroll(function() {
                    // End of the document reached?
                    if (doc.height() - (win.scrollTop() + win.height()) < 1000) {
                        loadMore();
                    }
                });
            });

            $(document).ready(function() {
                setInterval(function() {
                    @if(play.Play.isDev()) {
                        console.log("Refreshing dates...")
                    }
                    $(".content .article .since-timestamp").each(function(index) {
                        var dts = $(this).attr("date")
                        var mom = moment(new Date(Date.parse(dts)))
                        $(this).html(mom.fromNow())
                    });
                }, 60000)
            });

            $(document).ready(function() {
                $(".content .permalink-timestamp").each(function(index) {
                    var dts = $(this).attr("date")
                    var mom = moment(new Date(Date.parse(dts)))
                    mom.utcOffset(moment().utcOffset())
                    $(this).html(mom.format("ddd, D MMM YYYY, HH:mm:ss"))
                });
            });

            // layout Masonry after each image loads
            var $grid = $('.grid');
            $grid.imagesLoaded().progress( function() {
              $grid.masonry('layout');
            });
        </script>
    }
}
